<!-- To style the room page -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Room</title>
    <link rel="stylesheet" href="style.css"> <!--style.css from 'public' folder will be linked-->
    <script src="https://unpkg.com/peerjs@1.4.5/dist/peerjs.min.js" defer></script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="script.js" defer></script>

    
    <script>
        const ROOM_ID="<%=roomId%>"
    </script>

    
</head>
<body>
    
    <div class="header">
        <h1>This our Meeting Room</h1>
    </div>
    <div id="video-grid">      
    </div>  
    <a href="./logout">Logout</a>

 
    <div class="chatbox">
        <input id="chat" type="text">
    </div>
    <div class="chat-window">
        <ul id="messages">
        </ul>
    </div>
    <div class="board">
        <p>JJJJ</p>
        <canvas id="white">

        </canvas>
    </div>
    <!-- <script src="board.js"></script> -->
</body>
</html>