<!-- To style the room page -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Room</title>
    <link rel="stylesheet" href="style.css"> <!--style.css from 'public' folder will be linked-->
    <script src="script.js"></script>
    <script>
        const ROOM_ID="<%=roomId%>"
    </script>
    <script src="/scoket.io/socket.io.js" defer></script>
</head>
<body>
    <div class="header">
        <h1>This our Meeting Room</h1>
    </div>
    <div id="video-grid">
        
    </div>  
</body>
</html>